
.plainFunction, .IndexFunction {
    text-align: center;
}

h2, h3 {
    text-decoration: underline;
}

p {
    color: mediumslateblue;
    font-size: 18px;
}

img {
    width: 200px;
    height: 200px;
}